{% load static %}
{% block body%}
{% include 'user_navigation.html'%}
<style>

</style>
<marquee style =" font-family: 'Monotype Corsiva ';font-size : 25px ; color : darkcyan ; font-weight : bold ;  background-color : black ">
   job details
</marquee>
<hr>
<div class ="container shadow-lg py-2 mb-2" >
<div class="row">
    <div class="col-md-4">
        <img src="{{job.image.url}}" style="width:300px;height:200px">
    </div>
    <div class="col-md-6">
        <h2> {{job.title}} </h2>
        <p> {{job.recruiter.company}} <em> <a href="{% url 'user_latestjobs'%}"> (view all jobs)</a> </em></p>
        <a href="#" class="mr-2"> <i class="fa fa-map-marker mr-2"> </i> {{job.location}}</a>
        <a href="#"> <i class="fa fa-calendar mr-2"> </i> {{job.location}}</a>
        <br>
        <strong> <i class="fa fa-money mr-2 mt-2"> </i> <i class="fa fa-inr mr-2 mt-2"> </i> {{job.salary}} </strong>
        <div class="mt-4">
        <a href="{% url 'applyforjob' job.id %}" class="btn btn-danger" style="width:200px; height:40px font-size:20px"> Apply for this job </a>
        </div>

</div>
</div>
  <div>
      <h4> overview</h4>
      <p> {{job.description}}</p>

       <h4> Required Experience</h4>
      <p> {{job.experience}} yrs</p>

       <h4>skills Required </h4>
      <p> {{job.skills}}</p>

       <h4> start Date for applying</h4>
      <p> {{job.start_date}}</p>

       <h4> Last date for applying</h4>
      <p> {{job.end_date}}</p>
  </div>

</div>

{% endblock %}